body {
  background-image: url(./img/weather.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
}
#input {
  opacity: 0.4;
  border-radius: 25px;
}

form > label {
  font-weight: 800;
}

#submit {
  opacity: 0.4;
  border-radius: 25px;
}